run = "npm install --legacy-peer-deps && npx expo start --web"
entrypoint = "App.tsx"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "static"
publicDir = "dist"
build = ["sh", "-c", "npm install --legacy-peer-deps && npx expo export --platform web --output-dir dist"]
